*{
    padding: 0;
    margin: 0;
    body{
        font-size: 20px;
        font-family: Comic Sans MS;
    }
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 40px 1fr 40px;
    grid-gap: 10px;
    // justify-items: center;
    // align-items: center;
}
.header{
    background-color: lightcoral;
    color: white;
    text-align: center;
    grid-column: 1/-1;
}
.menu{
    background-color: pink;
    color: white;
    text-align: center;
}
.content{
    background-color: yellowgreen;
    color: white;
    text-align: center;
    grid-column: 2/-1;
    justify-self: center;
    align-self: center;
}
.footer{
    background-color: yellow;
    color: red;
    text-align: center;
    grid-column: 1/-1;
}